.ListDefault {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 40px 30px;

    width: 1700px;
    margin: 0 auto;

    padding: 100px 0;
}

.Detail {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 300px;
    background: #fff;
    padding: 20px;
    border: 1px solid #333;

    &.on {
        display: none;
    }
}